---
import Image from "astro/components/Image.astro";
import FormattedDate from "../components/FormattedDate.astro";
const { posts } = Astro.props;
---

<main>
  <section>
    <ul class="posts-list">
      {
        posts.map((post) => (
          <li>
            <a href={`/blog/${post.slug}/`}>
              <Image
                width={720}
                height={360}
                src={post.data.heroImage}
                alt=""
              />
              <div class="below-image">
                <div class="post-info">
                  <h4 class="title">{post.data.title}</h4>
                  <time class="date">
                    <FormattedDate date={post.data.pubDate} />
                  </time>
                </div>
                <ul class="post-tags">
                  { post.data.tags
                    .slice(0,3)
                      .map((tag: string, i: number, arr: string[]) => 
                      <li>
                        #{tag}{i==arr.length - 1 ? "...": ""}
                      </li>)}
                </ul>
              </div>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</main>

<style>
  main {
    width: 960px;
  }
  .posts-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .posts-list>li {
    width: calc(50% - 1rem);
  }
  .posts-list>li * {
    text-decoration: none;
    transition: 0.2s ease;
  }
  .posts-list>li:first-child {
    width: 100%;
    margin-bottom: 1rem;
  }
  .posts-list>li:first-child img {
    width: 100%;
  }
  .posts-list>li:first-child .title {
    font-size: 2.369rem;
  }
  .posts-list>li img {
    margin-bottom: 0.5rem;
    border-radius: 12px;
  }
  .posts-list>li a {
    display: block;
  }
  .title {
    margin: 0;
    color: rgb(var(--black));
    line-height: 1;
  }
  .date {
    margin: 0;
    color: rgb(var(--gray));
  }
  .below-image {
    display: flex;
    justify-content: space-between;
  }

  .post-info {
    flex: 1 50%;
  }
  .post-tags {
    flex: 1 50%;
    list-style: none;
    display: flex;
    align-content: start;
    justify-content: right;
    flex-wrap: wrap;
    font-size: 0.9em;
    gap: 0.2em;
  }

  .post-tags>li {
    width: auto;
    padding: 0 5px;
    background-color: var(--accent-light);
    border-radius: 10px;
  }

  .posts-list>li>a:hover .title,
  .posts-list>li>a:hover .date {
    color: rgb(var(--accent));
  }

  .posts-list a:hover img {
    box-shadow: var(--box-shadow);
  }
  @media (max-width: 720px) {
    .posts-list {
      gap: 0.5em;
    }
    .posts-list>li {
      width: 100%;
    }

    .posts-list>li:first-child {
      margin-bottom: 0;
    }
    .posts-list>li:first-child .title {
      font-size: 1.563em;
    }
  }
</style>
